@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #1B262C;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-zhen-dark: #1B262C;
  --color-zhen-default: #0F4C75;
  --color-zhen-light: #3282B8;
  --color-zhen-lightest: #BBE1FA;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
